
<button type="button" class="btn btn-default"  ng-click="open()">New</button>
<table class="table table-hover table-bordered" bs-table>
    <thead>
        <tr>
            <th ng-click="predicate='FirstName'; reverse=!reverse">First name</th>
            <th ng-click="predicate='LastName'; reverse=!reverse">Last name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="user in usersList | orderBy:predicate:reverse">
            <td>{{user.name}}</td>
            <td>{{user.name}}</td>
            <td class="action-column">
                <button type="button" class="btn btn-info btn-sm" ng-click="Edit(user)">Edit</button>
            </td>
        </tr>
    </tbody>
</table>